#facultades {
    font-size: 14px;
}

#programas {
    font-size: 14px;
}

.button-informe {
    background-color: #dfc14e;
    border-color: #dfc14e;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    place-items: center;
    font-size: 14px;
}

#generarReporte {
    width: 250px;
    height: 45px;
    font-size: 20px;
}

#btn-table {
    width: 60px;
}

#botonModalTiposEstudiantes,
#botonModalProgramas,
#botonModalOperador,
#botonModalMetas {
    background-color: #dfc14e;
    border-color: #dfc14e;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    place-items: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonMafi {
    background-color: #dfc14e;
    border-color: #dfc14e;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    place-items: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botondataTable {
    background-color: #dfc14e;
    border-color: #dfc14e;
    color: white;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    place-items: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    background-color: #dfc14e;
    border-color: #dfc14e;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    place-items: center;
    font-size: 14px;
}

.card {
    margin-bottom: 3%;
}

.hidden {
    display: none;
}

.graficos {
    min-height: 450px;
    max-height: 450px;
}

#cardProgramas {
    max-height: 500px;
}

.graficosBarra {
    min-height: 450px;
    max-height: 450px;
}

#tiposEstudiantesTotal,
#operadoresTotal,
#programasTotal,
#metasTotal {
    height: 600px !important;
}

#seccion {
    background: #DFE0E2;
}

.center-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondocards {
    color: white;
    background-color: #3A6577;
}

.fondocharts {
    background-color: #DFE0E2;
}

.titulos {
    overflow: auto;
}